Package: libcurl4-nss-dev-dbgsym
Source: curl
Version: 7.64.0-4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Alessandro Ghedini <ghedo@debian.org>
Installed-Size: 823
Depends: libcurl4-nss-dev (= 7.64.0-4)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libcurl4-nss-dev
Build-Ids: 85b34c50a25219f07bc59a00c0cd8878dd91ced3
